*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 99.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(153, 149, 149);
    .element{
      
        font-size:70px;
        display: block;
        font-family: Georgia, 'Times New Roman', Times, serif;
        &:after{
            content: "A";
            animation: textAnimation 22s  linear infinite;
        }
    }
}
@keyframes textAnimation{
    0%{
        color: #fff;
    }
    5%{
        color: rgb(153, 149, 149);
    }
    10%{
        color: #fff;
        content: "B";
    }
    15%{
        color: rgb(153, 149, 149);
    }
    20%{
        color: #fff;
        content: "C";
    }
    25%{
        color: rgb(153, 149, 149);
    }
    30%{
        color: #fff;
        content: "D";
    }
    35%{
        color:rgb(153, 149, 149);
    }
    40%{
        color: #fff;
        content: "E";
    }
    45%{
        color: rgb(153, 149, 149);
    }
    50%{
        color: #fff;
        content: "F";
    }
    55%{
        color: rgb(153, 149, 149);
    }
    60%{
        color: #fff;
        content: "G";
    }
    65%{
        color: rgb(153, 149, 149);
    }
    70%{
        color: #fff;
        content: "H";
    }
    75%{
        color: rgb(153, 149, 149);
    }
    80%{
        content: "I";
        color: #fff;
    }
    85%{
        color: rgb(153, 149, 149);
    }
    90%{
        content: "J";
        color: #fff;
    }
    
    95%{
        color:rgb(153, 149, 149);
    }
    100%{
        content: "K";
        color: #fff;
    }

}