*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import "animation.scss";
.hvr-transition-wrapper{
    .container{
        padding:20px;
        .bck-transition{
            .title{
                h2{
                    color:#4e4e4e;
                    font-size:25px;
                    line-height: 35px;
                }
                
            }
            .transition-collection{
                display:flex;
                flex-flow: row wrap ;
                a{
                    margin:20px 20px 20px 0;
                    
                }
            }
        }
    }
}
